.root { -fx-background-color: #222222; }
.rounded-borders {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.bg-dark {
    -fx-background-color: #00636E;
}

.bg-light {
    -fx-background-color: #CCE9ED;
}

.btn {
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}

.btn-danger {
    -fx-background-color: #F8C900;
    -fx-text-background-color: white;
    -fx-pref-width: 100px;
}

.btn-info {
    -fx-background-color: #00BBA6;
    -fx-text-background-color: white;
}

.text-button {
    -fx-background: none;
}
